<nav>
    <div class="outer-container">
    <div class="inner-container">
      <div class="nav-brand">
       <div class="nav-brand-top">
         Amazing Blog
       </div>
       <div class="nav-brand-bottom">
         <small>A very informative blog</small>
       </div>
      </div>
      <div class="nav-menu">
        <ul>
          <li><a href="/">Blogs</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/blogs/create">New Blog</a></li>
        </ul>
      </div>
      </div>
      <hr>
    </div>
</nav>