<%-include('./partials/head.ejs') %>
<body>
    <%-include('./partials/nav.ejs') %>
    <section>
        <div class="about-section">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Consequuntur dolores reprehenderit minus et, nemo optio nostrum sint magni.
                 Sit, voluptatem vel aliquid minima maxime natus veritatis saepe nulla vitae soluta 
                 impedit molestias sapiente assumenda, commodi voluptate asperiores accusamus! 
                 Vel perspiciatis totam, reiciendis sint eaque praesentium ea incidunt aliquam dolores optio 
                 molestias deserunt omnis maiores placeat unde! Labore, odio dolor architecto magnam molestias 
                 voluptates similique earum incidunt reiciendis omnis deserunt. Mollitia cumque veniam voluptatibus. 
                 Perspiciatis suscipit totam corporis, minima dolore voluptate tenetur quidem saepe 
                nesciunt nostrum nulla provident officia eum doloribus? Autem a veritatis neque pariatur illum dolorem quasi illo assumenda!</p>
        </div>
    </section>
    <%-include('./partials/footer.ejs') %>
</body>
</html>