<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
    <style type="text/css">
        body {
            margin:0;
            padding:0;
            font-size:18px;
            font-family:Arial, Helvetica, sans-serif;
            height:100%;
            width:100%;
        }
        
        .outer-container {
            margin:auto;
            width:80vw;
        }
        
        .inner-container {
            display:flex;
            justify-content:space-between;
            margin-top:1.5rem;
        }
        
        .nav-menu {
            width:25%;
        }
        
        .nav-menu ul {
            display:flex;
            list-style-type:none;
            justify-content:space-between;
        }
        
        .nav-menu ul a {
        
            text-decoration:none;
            color:#30d5c8;
        }
        
        .nav-menu ul a:hover {
        
            color:#80dbd4;
        }
        
        .nav-brand {
        
            display:flex;
            flex-direction:column;
            justify-content:space-between;
        }
        
        .nav-brand-top {
        
            color:#ff6347;
            font-size:1.8rem;
        }
        
        .nav-brand-bottom {
        
            color:#80dbd4;
        }
        
        .home-section {
        
            margin-top:5rem;
        }
        
        .home-section h2 {
        
            color:#30d5c8;
        }
        
        .home-section div {
        
            border-left:4px solid #ff6347;
            padding-left:1.5rem;
            margin-top:3rem;
        }

        .home-section a {

            text-decoration:none;
            color:#333;
        }
        
        footer {
        
            margin-top:8rem;
        }
        
        .footer-container {
        
            height:25vh;
            display:flex;
            flex-direction:column;
            justify-content:flex-end;
            align-items:center;
            background-color:#ff6347;
            color:#f5f5f5;
        }
        
        .about-section {
        
            text-align:center;
            margin:auto;
            width:65vw;
            padding:5rem 0 2rem 0;
        }
        
        .about-section p {
        
            line-height:2.5rem;
            color:#333;
        }
        
        .create-section {
            display:flex;
            justify-content:center;
            margin-top:8rem;
            width:100vw;
        }
        
        .create-section form {
        
            background-color:#30d5c8;
            width:40%;
            padding:0 0 2rem 2rem;
            color:#f5f5f5;
            box-shadow:4px 4px 5px rgb(139, 138, 138);
        }
        
        .create-section div {
        
            margin-bottom:3rem;
        }
        
        .create-section input {
        
            width:80%;
            height:7vh;
            border:none;
            font-size:1rem;
        }
        
        .create-section textarea {
        
            height:25vh;
            width:80%;
            border:none;
            font-size:1rem;
        }
        
        .create-section button {
        
            border:none;
            padding:1rem 2rem;
            font-size:1rem;
            background-color:#ff6347;
            color:#f5f5f5;
            border-radius:1.5rem;
        }
        
        .create-section button:hover {
        
            background-color:transparent;
            color:#ff6347;
            border:1px solid #f5f5f5;
        }

        .details-section {

            margin-top:5rem;
        }

        .details-section a {

            text-decoration:none;
            background-color:#ff6347;
            padding:1rem 2rem;
            margin-top:5rem;
            color:#fff;
            border-radius:2rem;
            cursor:pointer;
        }

        .details-section a:hover {

            background-color:transparent;
            border:1px solid #ff6347;
            color:#ff6347;
        }
    </style>
</head>